{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta charset="utf-8">
    <title>{% block title %}Siberian garden{% endblock%}</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/animate.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/hover-min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/flexisel.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/owl.carousel.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/owl.carousel.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/prettyPhoto.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/YTPlayer.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/star-rating.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/flaticon.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/themes/theme.css' %}" id="changeable-colors" rel="stylesheet" type="text/css">
    <link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/responsive.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="pageloader">
        <div class="loader-item fa fa-spin colored-border"></div>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar">
                        <div class="navbar-header">
                            <ul class="header-top-left">
                                <li class="dropdown collapse navbar-collapse" id="bs-example-navbar-collapse-1">Язык<a class="dropdown-toggle" data-toggle="dropdown" href="#">[ <span>RU<i class="fa fa-angle-down"></i></span> ]</a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"><span><img src="{% static '/images/top-navigation/flag1.jpg' %}" alt="Language-flag"></span>ENG</a>
                                        </li>
                                        <li><a href="#"><span><img src="{% static '/images/top-navigation/flag2.jpg' %}" alt="Language-flag"></span>GER</a>
                                        </li>
                                        <li><a href="#"><span><img src="{% static '/images/top-navigation/flag3.jpg' %}" alt="Language-flag"></span>FRE</a>
                                        </li>
                                        <li><a href="#"><span><img src="{% static '/images/top-navigation/flag4.jpg' %}" alt="Language-flag"></span>ITA</a>
                                        </li>
                                        <li><a href="#"><span><img src="{% static '/images/top-navigation/flag5.jpg' %}" alt="Language-flag"></span>SPA</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="mailto:siberiangarden@list.ru"><i class="flaticon-black164"></i> mail@list.ru</a>
                                </li>
                                <li><a href="#"><i class="flaticon-phone46"></i> +7 908 215 00 14/a>
                                </li>
                            </ul>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="flaticon-list50"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav navbar-right section-hidden">
                            <li class="cart"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-shopping-cart"></i>В корзине () товара</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="{% static '/images/top-navigation/1.jpg' %}" alt="item-1" class="pull-left">
                                        <div class="pull-left product"><a href="#">Название товара</a>
                                            <h5> р.</h5>
                                        </div>
                                    </li>
                                    <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="{% static '/images/top-navigation/1.jpg' %}" alt="item-1" class="pull-left">
                                        <div class="pull-left product"><a href="#">Название товара</a>
                                            <h5>  р.</h5>
                                        </div>
                                    </li>
                                    <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="{% static '/images/top-navigation/1.jpg' %}" alt="item-1" class="pull-left">
                                        <div class="pull-left product"><a href="#">Название товара</a>
                                            <h5> р.</h5>
                                        </div>
                                    </li>
                                    <li class="total">
                                        <h5>Итого: .</h5>
                                    </li>
                                    <li class="clearfix checkout"><a href="#" class="pull-left">В корзину</a> <a href="#" class="pull-right">Опталить</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-unlock-alt"></i>Вход</a>
                            </li>
                            <li><a href="#"Регистрация</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-section" class="sticky-navigation">
        <nav class="navbar navbar-default menu-bar" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <div class="site-logo"><a title="" href="index.html">Siberianshop</a>
                            </div>
                            <ul class="nav navbar-nav navbar-right section-show">
                                <li class="cart"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-shopping-cart"></i>В корзине (3) товара</a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="{% static '/images/top-navigation/1.jpg' %}" alt="item-1" class="pull-left">
                                            <div class="pull-left product"><a href="#">Название товара</a>
                                                <h5> р.</h5>
                                            </div>
                                        </li>
                                        <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="{% static '/images/top-navigation/1.jpg' %}" alt="item-1" class="pull-left">
                                            <div class="pull-left product"><a href="#">Название товара</a>
                                                <h5> р.</h5>
                                            </div>
                                        </li>
                                        <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="{% static '/images/top-navigation/1.jpg' %}" alt="item-1" class="pull-left">
                                            <div class="pull-left product"><a href="#">Название товара</a>
                                                <h5>500 р.</h5>
                                            </div>
                                        </li>
                                        <li class="total">
                                            <h5>Итого:  р.</h5>
                                        </li>
                                        <li class="clearfix checkout"><a href="#" class="pull-left">В корзину</a> <a href="#" class="pull-right">Оплатить</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="login-style"><a href="#"><i class="fa fa-unlock-alt"></i>Вход</a>
                                </li>
                                <li class="register-border"><a href="#">Регистрация</a>
                                </li>
                            </ul>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"><span class="menu-box"><span class="menu">Меню</span><i class="flaticon-list50 menu-button"></i>
                                </span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown"><a href="#" class="dropdown-toggle active">Главная</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-1"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-1 collapse">
                                        <li><a href="{% url 'index' %}">Главная</a>
                                        </li>
                                        <li><a href="index-2.html">Главная #2</a>
                                        </li>
            
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href= "{% url 'about' %}" class="dropdown-toggle">О нас</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-2"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-2 collapse">
                                        <li><a href="about-us.html">О компании</a>
                                        </li>
                                        <li><a href="services.html">Услуги</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle">Товары</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-3"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-3 collapse">
                                        <li class="dropdown"><a href="shop-list.html" class="dropdown-toggle">Магазин</a> <span class="submenu-toggler collapsed" data-toggle="collapse" data-target=".collapse-4"><i class="fa fa-angle-right"></i></span>
                                            <ul role="menu" class="sub-menu collapse-4 collapse">
                                                <li><a href="shop-list.html">Список товаров</a>
                                                </li>
                                                <li><a href="shop-detail.html">Описание товара</a>
                                                </li>
                                            </ul>
                                        
                                        <li><a href="check-out.html">Оплата</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle">Галерея</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-6"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-6 collapse">
                                        <li><a href="portfolio.html">Портфолио</a>
                                        </li>
                                        <li><a href="portfolio-single.html">Описание</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle">Новости</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-6"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-6 collapse">
                                        <li><a href="blog.html">Новости</a>
                                        </li>
                                        <li><a href="blog-single.html">Описание</a>
                                        </li>
                                    </ul>
                                    
                                    {% if request.user.is_authenticated %}
                                    
                                </li>
                                <li><a href="{% url 'cart:cart_detail' %}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Корзина<span class="badge">4</a>
                                </li>
                                <li><a href="{% url 'wishlist:wishlist_detail' %}"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Wishlist</a></li>
                                        
                                <li role="separator" class="divider"></li>
                                <li class="dropdown"><a href= "#" class="dropdown-toggle"><a href="{% url "profile_detail" request.user.profile.slug %}" type="glyphicon glyphicon-user" aria-hidden="true"> {{ request.user.username }}</a><span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-2"></span>
                                            <li class="dropdown"><a href= "#" class="dropdown-toggle"><a href="{% url "logout" %}" type="button" class="glyphicon glyphicon-log-out" aria-hidden="true">Деавторизация</a><span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-2"></span>
                                            {% else %}
                                            <div class="text-end">
                                                <li class="dropdown"><a href= "#" class="dropdown-toggle"></a><a href="{% url "login" %}" type="button" class="glyphicon glyphicon-log-in" aria-hidden="true">Авторизация</a><span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-2"></span>
                                                    <li class="dropdown"><a href= "#" class="dropdown-toggle"><a href="{% url "register" %}" type="button" class="btn btn-primary">Регистрация</a><span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-2"></span>
                                            </div>
                                            {% endif %}
                                            </li>
                                        </ul>
                                    </li>    
                                </li>
                                <li><a href="contacts.html">Контакты</a>
                                </li>
                                <li class="search"><a href="#search-toggle-right" id="search-toggle"><i class="glyphicon glyphicon-search"></i></a>
                                </li>
                                <li class="search-form">
                                    <form role="search" class="navbar-form">
                                        <div class="input-group">
                                            <input type="text" name="q" placeholder="Искать.." class="form-control">
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default">ОК</button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
{% block container %}
{% endblock container %}
    <section id="footer" class="footer-bg">
        <div class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 animated" data-animation="fadeInUp" data-animation-delay="300">
                        <h3>О магазине</h3>
                        <p>Ретроконверсия национального наследия реально изменяет формирование имиджа. Еще Траут показал, что мониторинг активности вполне вероятен. Узнавание бренда экономит тактический инструмент маркетинга.</p>
                        <ul>
                            <li>Россия, Москва</li>
                            <li>ул. Пушкина 23а</li>
                            <li>mail@mail.com</li>
                            <li>+7 123 456 789</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 latest-post animated" data-animation="fadeInUp" data-animation-delay="700">
                        <h3>Последние статьи</h3>
                        <ul>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 latest-post animated" data-animation="fadeInUp" data-animation-delay="700">
                        <h3>Последние новости</h3>
                        <ul>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 flickr animated" data-animation="fadeInUp" data-animation-delay="900">
                        <h3>Галерея</h3>
                        <ul>
                            <li><img src="{% static 'images/flickr/1.jpg' %}" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="{% static 'images/flickr/2.jpg' %}" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="{% static 'images/flickr/3.jpg' %}" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="{% static 'images/flickr/4.jpg' %}" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="{% static 'images/flickr/5.jpg' %}" alt="flickr-1" class="img-responsive">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-rights-bg">
            <div class="copy-rights-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="copyright-content">&copy; not oferta</p>
                        </div>
                        <div class="col-sm-6">
                            <div class="social-icon"><a href="#"><i class="fa fa-rss rss-icon"></i></a> <a href="#"><i class="fa fa-facebook facebook-icon"></i></a> <a href="#"><i class="fa fa-tumblr tumblr-icon"></i></a> <a href="#"><i class="fa fa-youtube youtube-icon"></i></a> <a href="#"><i class="fa fa-google google-icon"></i></a> <a href="#"><i class="fa fa-dribbble dribble-icon"></i></a> <a href="#"><i class="fa fa-vimeo-square vimeo-icon"></i></a> <a href="#"><i class="fa fa-skype skype-icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="{% static '/js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/bootstrapValidator.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/bootstrap-hover-dropdown.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.sticky.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slider/jquery.fractionslider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slider/main.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/star-rating.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.content_slider.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/option.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.nstSlider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mb.YTPlayer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>